@import url('./styles/globals.css');
@import url('./styles/alert.css');
@import url('./styles/badge.css');
@import url('./styles/button.css');
@import url('./styles/control.css');
@import url('./styles/fieldset.css');
@import url('./styles/loader.css');
@import url('./styles/modal.css');
@import url('./styles/table.css');
@import url('./styles/tabs.css');
@import url('./styles/tooltip.css');

@import url('./styles/formats/color.css');
@import url('./styles/formats/country.css');
@import url('./styles/formats/imagelist.css');
@import url('./styles/formats/list.css');
@import url('./styles/formats/taglist.css');

@import url('./styles/fields/autocomplete.css');
@import url('./styles/fields/colorpicker.css');
@import url('./styles/fields/date.css');
@import url('./styles/fields/datetime.css');
@import url('./styles/fields/file.css');
@import url('./styles/fields/filelist.css');
@import url('./styles/fields/image.css');
@import url('./styles/fields/imagelist.css');
@import url('./styles/fields/input.css');
@import url('./styles/fields/knob.css');
@import url('./styles/fields/markdown.css');
@import url('./styles/fields/metadata.css');
@import url('./styles/fields/multiselect.css');
@import url('./styles/fields/option.css');
@import url('./styles/fields/password.css');
@import url('./styles/fields/rating.css');
@import url('./styles/fields/select.css');
@import url('./styles/fields/switch.css');
@import url('./styles/fields/taglist.css');
@import url('./styles/fields/textarea.css');
@import url('./styles/fields/textlist.css');
@import url('./styles/fields/time.css');
@import url('./styles/fields/wysiwyg.css');