@import url('./styles/globals.css');
@import url('./styles/alert.css');
@import url('./styles/badge.css');
@import url('./styles/bread.css');
@import url('./styles/button.css');
@import url('./styles/control.css');
@import url('./styles/dialog.css');
@import url('./styles/fieldset.css');
@import url('./styles/loader.css');
@import url('./styles/pager.css');
@import url('./styles/progress.css');
@import url('./styles/table.css');
@import url('./styles/tooltip.css');

@import url('./styles/formats/color.css');
@import url('./styles/formats/country.css');
@import url('./styles/formats/imagelist.css');
@import url('./styles/formats/list.css');
@import url('./styles/formats/taglist.css');

@import url('./styles/fields/code-editor.css');
@import url('./styles/fields/country-select.css');
@import url('./styles/fields/currency-select.css');
@import url('./styles/fields/file-list.css');
@import url('./styles/fields/image-list.css');
@import url('./styles/fields/input-color.css');
@import url('./styles/fields/input-date.css');
@import url('./styles/fields/input-datetime.css');
@import url('./styles/fields/input-file.css');
@import url('./styles/fields/input-image.css');
@import url('./styles/fields/input-password.css');
@import url('./styles/fields/input-suggest.css');
@import url('./styles/fields/input-time.css');
@import url('./styles/fields/input.css');
@import url('./styles/fields/knob-slider.css');
@import url('./styles/fields/markdown-editor.css');
@import url('./styles/fields/metadata.css');
@import url('./styles/fields/option-flag.css');
@import url('./styles/fields/range-slider.css');
@import url('./styles/fields/rating.css');
@import url('./styles/fields/select.css');
@import url('./styles/fields/switch.css');
@import url('./styles/fields/tag-list.css');
@import url('./styles/fields/text-list.css');
@import url('./styles/fields/textarea.css');
@import url('./styles/fields/wysiwyg-editor.css');