@import url('./styles/globals.css');
@import url('./styles/box.css');
@import url('./styles/bread.css');
@import url('./styles/card.css');
@import url('./styles/control.css');
@import url('./styles/dialog.css');
@import url('./styles/dropdown.css');
@import url('./styles/fieldset.css');
@import url('./styles/loader.css');
@import url('./styles/pager.css');
@import url('./styles/progress.css');
@import url('./styles/table.css');
@import url('./styles/tooltip.css');

@import url('./styles/view/color.css');
@import url('./styles/view/country.css');
@import url('./styles/view/imagelist.css');
@import url('./styles/view/list.css');
@import url('./styles/view/taglist.css');

@import url('./styles/form/code-editor.css');
@import url('./styles/form/color-input.css');
@import url('./styles/form/country-select.css');
@import url('./styles/form/currency-select.css');
@import url('./styles/form/date-input.css');
@import url('./styles/form/datetime-input.css');
@import url('./styles/form/file-input.css');
@import url('./styles/form/file-list.css');
@import url('./styles/form/image-input.css');
@import url('./styles/form/image-list.css');
@import url('./styles/form/input.css');
@import url('./styles/form/markdown-editor.css');
@import url('./styles/form/metadata.css');
@import url('./styles/form/option-flag.css');
@import url('./styles/form/password-input.css');
@import url('./styles/form/rating.css');
@import url('./styles/form/select.css');
@import url('./styles/form/slider.css');
@import url('./styles/form/suggest-input.css');
@import url('./styles/form/switch.css');
@import url('./styles/form/tag-list.css');
@import url('./styles/form/text-editor.css');
@import url('./styles/form/text-list.css');
@import url('./styles/form/textarea.css');
@import url('./styles/form/time-input.css');
