/* Default Theme
---------------------------------*/
:root {
  --black: #222222;
  --white: #FCFCFC;
  --primary: #91C8D5;
  --secondary: #243545;
  --info: #1474FC;
  --error: #DC3545;
  --warning: #FFC107;
  --success: #28A745;
  --muted: #999999;
  --curved: 5px;
  --rounded: 12px;
  --pill: 10000px;
  --thin: 1px;
  --thick: 5px;
  --xs: 8px;
  --sm: 10px;
  --md: 12px;
  --lg: 14px;
  --xl: 16px;
  --xl2: 18px;
  --xl3: 20px;
  --xl4: 22px;
  --xl5: 24px;
}

/* Generic
---------------------------------*/
.block {
  display: block;
}
.full {
  width: 100%;
}

/* Text Colors
---------------------------------*/
.ts-xs {
  font-size: var(--xs);
}
.tx-sm {
  font-size: var(--sm);
}
.tx-md {
  font-size: var(--md);
}
.tx-lg {
  font-size: var(--lg);
}
.tx-xl {
  font-size: var(--xl);
}
.tx-2xl {
  font-size: var(--xl2);
}
.tx-3xl {
  font-size: var(--xl3);
}
.tx-4xl {
  font-size: var(--xl4);
}
.tx-5xl {
  font-size: var(--xl5);
}

.tx-black {
  color: var(--black) !important;
}
.tx-white {
  color: var(--white) !important;
}
.tx-info {
  color: var(--info) !important;
}
.tx-error {
  color: var(--error) !important;
}
.tx-warning {
  color: var(--warning) !important;
}
.tx-success {
  color: var(--success) !important;
}
.tx-muted {
  color: var(--muted) !important;
}

/* Borders
---------------------------------*/
.curved {
  border-radius: var(--curved);
}
.rounded {
  border-radius: var(--rounded);
}
.pill {
  border-radius: var(--pill);
}

.solid {
  border-style: solid;
}
.dash {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}

.thin {
  border-width: var(--thin);
}
.thick {
  border-width: var(--thick);
}

.bd-black {
  border-color: var(--black) !important;
}
.bd-white {
  border-color: var(--white) !important;
}
.bd-info {
  border-color: var(--info) !important;
}
.bd-error {
  border-color: var(--error) !important;
}
.bd-warning {
  border-color: var(--warning) !important;
}
.bd-success {
  border-color: var(--success) !important;
}
.bd-muted {
  border-color: var(--muted) !important;
}

/* Backgrounds
---------------------------------*/
.bg-black {
  background-color: var(--black) !important;
}
.bg-white {
  background-color: var(--white) !important;
}
.bg-info {
  background-color: var(--info) !important;
}
.bg-error {
  background-color: var(--error) !important;
}
.bg-warning {
  background-color: var(--warning) !important;
}
.bg-success {
  background-color: var(--success) !important;
}
.bg-muted {
  background-color: var(--muted) !important;
}

/* Alert
---------------------------------*/
.alert {
  padding: 16px 20px;
}

/* Badge
---------------------------------*/
.badge {
  padding: 2px 8px;
}

/* Button
---------------------------------*/
.btn {
  text-align: center;
}
.btn-xs {
  padding: 2px 4px;
}
.btn-sm {
  padding: 4px 8px;
}
.btn-md {
  padding: 6px 12px;
}
.btn-lg {
  padding: 8px 16px;
}
.btn-xl {
  padding: 10px 20px;
}
.btn-2xl {
  padding: 12px 24px;
}
.btn-3xl {
  padding: 14px 28px;
}
.btn-4xl {
  padding: 16px 32px;
}
.btn-5xl {
  padding: 18px 36px;
}

/* Control
---------------------------------*/
.control-label {
  display: block;
}
.control-error {
  color: var(--error);
}

/* Fieldset
---------------------------------*/
.fieldset-plus {
  margin-right: 2px;
}

/* Loader
---------------------------------*/
.loader {
  align-items: middle;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border-style: solid;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-width: 2px;
  display: inline-block;
  height: 20px;
  margin-right: 4px;
  width: 20px;
}

/* Modal
---------------------------------*/
.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: none;
  left: 0;
  justify-content: center;
  max-height: 100vh;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000 ;
}

.modal .modal-overlay {
  max-width: 32rem;
  margin: auto;
  position: relative;
}

.modal .modal-head {
  align-items: center;
  display: flex;
}

.modal .modal-title {
  flex-grow: 1;
  font-weight: bold;
}

.modal .modal-close {
  font-size: 2rem;
}

/* Table
---------------------------------*/
.tbl {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.tbl-scroll {
  overflow: auto;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.tbl-nowrap {
  white-space: nowrap;
}

.tbl-z0 {
  z-index: 0;
}
.tbl-z1 {
  z-index: 1;
}
.tbl-z2 {
  z-index: 2;
}
.tbl-z3 {
  z-index: 3;
}
.tbl-z4 {
  z-index: 4;
}

.tbl-sticky {
  position: sticky;
}
.tbl-sticky-b {
  bottom: 0;
}
.tbl-sticky-l {
  left: 0;
}
.tbl-sticky-t {
  top: 0;
}
.tbl-sticky-r {
  right: 0;
}

.tbl-col {
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

.tbl-foot {
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

.tbl-row {
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

.tbl-head {
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

/* Format - Color
---------------------------------*/
.format-color {
  align-items: center; 
  display: flex;
}

.format-color-box {
  border-color: 'black';
  border-style: 'solid';
  border-width: '1px';
  display: 'inline-block'; 
  margin-right: '4px';
}

/* Format - Country
---------------------------------*/
.format-country {
  align-items: center; 
  display: flex
}

.format-country-flag {
  display: inline-block; 
  margin-right: 4px; 
}

/* Format - Imagelist
---------------------------------*/
.format-imagelist {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Format - List
---------------------------------*/
.format-list {
  list-style: revert;
  padding-left: 18px;
}

/* Field - Autocomplete
---------------------------------*/
.field-autocomplete {
  position: relative;
}

.field-autocomplete-dropdown {
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  position: absolute;
  width: 100%;
}

.field-autocomplete-options {
  max-height: 256px;
  overflow: auto;
}

.field-autocomplete-option {
  align-items: center;
  border-color: #AAAAAA;
  border-style: solid;
  border-top-width: 1px;
  cursor: pointer;
  display: flex;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
}

/* Field - Date
---------------------------------*/
.field-date {
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
}

/* Field - Datetime
---------------------------------*/
.field-datetime {
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
}

/* Field - File
---------------------------------*/
.field-file-control {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.field-file-reset {
  color: var(--error);
  cursor: pointer;
  font-size: 20px;
  margin-top: -2px;
}

.field-file-file {
  align-items: center;
  border-color: gray;
  border-style: solid;
  border-top-width: 0;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.field-file-link {
  display: flex;
  overflow: hidden;
}

/* Field - Filelist
---------------------------------*/
.field-filelist-control {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.field-filelist-file {
  align-items: center;
  border-color: gray;
  border-style: solid;
  border-top-width: 0;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}
 
.field-filelist-link {
  display: flex;
  overflow: hidden;
}

.field-filelist-remove {
  color: gray;
  cursor: pointer;
  font-size: 20px;
  margin-top: -2px;
  padding-left: 8px;
}

/* Field - Image
---------------------------------*/
.field-image-control {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.field-image-reset {
  color: var(--error);
  cursor: pointer;
  font-size: 20px;
  margin-top: -2px;
}

.field-image-file {
  align-items: center;
  border-color: gray;
  border-style: solid;
  border-top-width: 0;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.field-image-link {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow: hidden;
}

.field-image-image {
  height: 20px;
  margin-right: 8px;
}

/* Field - Image List
---------------------------------*/
.field-imagelist-control {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.field-imagelist-file {
  align-items: center;
  border-color: gray;
  border-style: solid;
  border-top-width: 0;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.field-imagelist-link {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow: hidden;
}

.field-imagelist-remove {
  color: gray;
  cursor: pointer;
  font-size: 20px;
  margin-top: -2px;
  padding-left: 8px;
}

/* Field - Input
---------------------------------*/
.field-input {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 100%;
}

/* Field - Markdown
---------------------------------*/
.field-markdown-nav {
  font-size: 18px;
  text-align: right;
}
.field-markdown-preview {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 100%;
}

/* Field - Metadata
---------------------------------*/
.field-metadata-row {
  display: flex;
  margin-bottom: 4px;
}

.field-metadata-remove {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
}

.field-metadata-name {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  flex-basis: 30%;
  margin-right: 4px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 100%;
}

.field-metadata-value {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  flex-basis: 70%;
  margin-right: 4px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 100%;
}

/* Field - Password
---------------------------------*/
.field-password-toggle {
  align-items: center;
  background-color: #EEEEEE;
  border-color: var(--black);
  border-style: solid;
  border-left: 0;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  color: #666666;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  text-align: center;
}

/* Field - Radio/Checkbox
---------------------------------*/
.field-option-control {
  cursor: pointer;
  height: 18px;
  opacity: 0;
  position: absolute;
  width: 18px;
  z-index: 12;
}

.field-option-control:checked, 
.field-option-control:focus {
  outline: none !important;
}

.field-option-label {
  display: inline-block;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  min-height: 18px;
  min-width: 18px;
  position: relative;
  z-index: 11;
}

.field-option-label::before {
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  content: "\a0";
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  height: 17px;
  min-width: 17px;
  margin-right: 5px;
  position: relative;
  text-align: center;
  top: -2px;
  vertical-align: middle;
}

.field-option-control:checked + .field-option-label::before {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 
              inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), 
              inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  font-weight: 900;
}

.field-option-control:active + .field-option-label::before, 
.field-option-control:checked:active+span::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.field-option-control:disabled + .field-option-label::before,
.field-option-control[disabled] + .field-option-label::before,
.field-option-disabled .field-option-control + .field-option-label::before {
  background-color: #DDDDDD !important;
  border-color: #CCCCCC !important;
  box-shadow: none !important;
  color: #BBBBBB;
}

.field-option-rounded .field-option-label::before {
  border-radius: 100%;
}
.field-option-circle .field-option-control:checked + .field-option-label::before {
  content: "\25CF";
  font-size: 24px;
  line-height: 16px;
}
.field-option-square .field-option-control:checked + .field-option-label::before {
  content: "\25A0";
  font-size: 24px;
  line-height: 16px;
}
.field-option-check .field-option-control:checked + .field-option-label::before {
  content: "\2713";
  font-size: 14px;
  line-height: 19px;
}

.field-option-default .field-option-label::before {
  background-color: #FAFAFA;
  border-color: #C8C8C8;
  color: #32A3CE;
  text-shadow: 0 0 1px #32A3CE;
}
.field-option-default .field-option-control:checked + .field-option-label::before {
  background-color: #F5F8FC;
  border-color: #ADB8C0;
}
.field-option-default .field-option-control:hover + .field-option-label::before, 
.field-option-default .field-option-label:hover::before {
  border-color: #FF893C;
}

.field-option-blue .field-option-label::before {
  background-color: #FAFAFA;
  border-color: #C8C8C8;
  color: #32A3CE;
  text-shadow: 0 0 1px #32A3CE;
}
.field-option-blue .field-option-control:checked + .field-option-label::before {
  background-color: #F5F8FC;
  border-color: #32A3CE;
}
.field-option-blue .field-option-control:hover + .field-option-label::before, 
.field-option-blue .field-option-label:hover::before {
  border-color: #32A3CE;
}

.field-option-orange .field-option-label::before {
  background-color: #FAFAFA;
  border-color: #C8C8C8;
  color: #FF893C;
  text-shadow: 0 0 1px #FF893C;
}
.field-option-orange .field-option-control:checked + .field-option-label::before {
  background-color: #F5F8FC;
  border-color: #FF893C;
}
.field-option-orange .field-option-control:hover + .field-option-label::before, 
.field-option-orange .field-option-label:hover::before {
  border-color: #FF893C;
}

/* Field - Select
---------------------------------*/
.field-select {
  position: relative;
}

.field-select-control {
  align-items: center;
  background-color: white;
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  white-space: nowrap;
  width: 100%;
}

.field-select-placeholder {
  color: #666666;
}

.field-select-dropdown {
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}

.field-select-search {
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  position: relative;
}

.field-select-search-control {
  padding-right: 32px;
}

.field-select-search-icon {
  background-color: var(--white);
  color: var(--black);
  padding: 4px;
  position: absolute;
  right: 9px;
  top: 9px;
}

.field-select-options {
  max-height: 256px;
  overflow: auto;
}

.field-select-option {
  align-items: center;
  border-color: #AAAAAA;
  border-style: solid;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 1px;
  cursor: pointer;
  display: flex;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
}

/* Field - Switch
---------------------------------*/
.field-switch {
  position: relative;
  margin: 0;
}

.field-switch-label {
  display: inline-block;
  font-weight: normal;
  line-height: 20px;
  margin: 0 4px;
  min-height: 24px;
  min-width: 18px;
  position: relative;
  z-index: 11;
}

.field-switch-label::before {
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .2);
  -webkit-transition: text-indent .4s ease;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .2);
  color: #999999;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  margin-right: 5px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  text-indent: -19px;
  top: 5px;
  transition: text-indent .4s ease;
  width: 52px;
}

.field-switch-label::after {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
  -webkit-transition: left .4s ease;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: lighter;
  left: -3px;
  line-height: 20px;
  height: 22px;
  padding: 0;
  position: absolute;
  text-align: center;
  text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.15);
  top: 4px;
  transition: left .4s ease;
  width: 22px;
}

.field-switch-onoff .field-switch-label::before {
  content: "ON\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  font-size: 11px;
}

.field-switch-yesno .field-switch-label::before {
  content: "YES\a0\a0\a0\a0\a0\a0\a0\a0\a0NO";
  font-size: 10px;
}

.field-switch-checkex .field-switch-label::before {
  content: "\a0\2713\a0\a0\a0\a0\a0\a0\a0\a0\a0\2716";
  font-size: 13px;
}

.field-switch-sunmoon .field-switch-label::before {
  content: "\263C\a0\a0\a0\a0\a0\a0\263D";
  font-size: 18px;
}

.field-switch-rounded .field-switch-label::before {
  border-radius: 12px;
}
  
.field-switch-rounded .field-switch-label::after {
  border-radius: 100%;
}

.field-switch-ridge .field-switch-label::after {
  content: '|||';
}

.field-switch-smooth .field-switch-label::after {
  content: ' ';
}

.field-switch-control {
  cursor: pointer;
  height: 25px;
  opacity: 0;
  position: absolute;
  width: 55px;
  z-index: 12;
}

.field-switch-control:checked + .field-switch-label::before {
  text-indent: 9px;
}

.field-switch-control:checked + .field-switch-label::after {
  left: 34px;
}

.field-switch-default .field-switch-label::before {
  background-color: #F5F5F5;
  border-color: #CCCCCC;
  color: #999999;
}

.field-switch-default .field-switch-label::after {
  background-color: #FFFFFF;
  color: #D5D5D5;
}

.field-switch-default .field-switch-control:checked + .field-switch-label::before {
  background-color: #8AB2C9;
  border-color: #468FCC;
  color: #FFFFFF;
}

.field-switch-default .field-switch-control:checked + .field-switch-label::after {
  background-color: #FFFFFF;
  color: #8AB2C9;
}

.field-switch-green .field-switch-label::before {
  background-color: #DC3545;
  border-color: #DC3545;
  color: #FFFFFF;
}

.field-switch-green .field-switch-label::after {
  background-color: #F9F9F9;
  color: #DC3545;
}

.field-switch-green .field-switch-control:checked + .field-switch-label::before {
  background-color: #28A745;
  border-color: #28A745;
  color: #FFFFFF;
}

.field-switch-green .field-switch-control:checked + .field-switch-label::after {
  background-color: #F9F9F9;
  color: #28A745;
}

.field-switch-orange .field-switch-label::before {
  background-color: #888888;
  border-color: #CCCCCC;
  color: #DDDDDD;
}

.field-switch-orange .field-switch-label::after {
  background-color: #FFFFFF;
  color: #D5D5D5;
}

.field-switch-orange .field-switch-control:checked + .field-switch-label::before {
  background-color: #FF893C;
  border-color: #FF893C;
  color: #FFFFFF;
}

.field-switch-orange .field-switch-control:checked + .field-switch-label::after {
  background-color: #FFFFFF;
  color: #FF893C;
}

.field-switch-blue .field-switch-label::before {
  background-color: #8B9AA3;
  border-color: #8B9AA3;
  color: #FFFFFF;
}

.field-switch-blue .field-switch-label::after {
  background-color: #FFFFFF;
  color: #D5D5D5;
}

.field-switch-blue .field-switch-control:checked + .field-switch-label::before {
  background-color: #468FCC;
  border-color: #468FCC;
  color: #FFFFFF;
}

.field-switch-blue .field-switch-control:checked + .field-switch-label::after {
  background-color: #F9F9F9;
  color: #468FCC;
}

/* Field - Taglist
---------------------------------*/
.field-taglist {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  max-width: 100%;
  overflow: scroll;
  padding-left: 4px;
  width: 100%;
}

.field-taglist-tag {
  align-items: center;
  background-color: var(--secondary);
  border-color: var(--secondary);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: var(--white);
  display: flex;
  margin-bottom: 2px;
  margin-right: 4px;
  margin-top: 2px;
  padding-left: 8px;
  padding-right: 5px;
  white-space: nowrap;
}

.field-taglist-remove {
  background-color: unset;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 2px;
}

.field-taglist-input {
  border: none;
  outline: none;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  min-width: 50%;
  width: 100%;
}

/* Field - Textarea
---------------------------------*/
.field-textarea {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 100%;
}

/* Field - Textlist
---------------------------------*/
.field-textlist-row {
  display: flex;
  margin-bottom: 4px;
}

.field-textlist-remove {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 2px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
}

.field-textlist-input {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 100%;
}

/* Field - Time
---------------------------------*/
.field-time {
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
}