.frui-format-color {
  align-items: center; 
  display: flex;
}

.frui-format-color-box {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block; 
  margin-right: 4px;
}