.frui-form-color-input {
  position: relative;
}

.frui-form-color-input .frui-form-color-input-control {
  padding-left: 60px;
}

.frui-form-color-input-picker {
  position: absolute;
  bottom: 5px;
  height: calc(100% - 10px);
  left: 5px;
  top: 5px;
}

.frui-form-color-input-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
