.frui-form-country-select .frui-dropdown-options {
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 0;
  padding-top: 0;
}

.frui-form-country-select .frui-dropdown-head {
  padding: 8px;
}

.frui-form-country-select .frui-dropdown-head div {
  align-items: center;
  border-color: var(--bg-third);
  border-style: solid;
  border-width: 1px;
  display: flex;
}

.frui-form-country-select .frui-dropdown-head input {
  border-width: 0px;
  flex-grow: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-bottom: 7px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 7px;
}

.frui-form-country-select .frui-dropdown-head span {
  padding-bottom: 7px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 7px;
}

.frui-form-country-select .frui-dropdown-option,
.frui-form-country-select-dropdown .frui-dropdown-option {
  padding-bottom: 7px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 7px;
}

.frui-form-country-select .frui-dropdown-control .frui-dropdown-option-active {
  display: inline-block;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
}

.frui-form-country-select-dropdown .frui-dropdown-options .frui-dropdown-option-active {
  background-color: #E0E0E0;
}