.frui-form-country-select .frui-form-select-options {
  max-height: 300px;
  overflow-y: auto;
}

.frui-form-country-select .frui-form-select-dropdown-head {
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
}

.frui-form-country-select .frui-form-select-dropdown-head div {
  align-items: center;
  border-color: var(--bg-third);
  border-style: solid;
  border-width: 1px;
  display: flex;
}

.frui-form-country-select .frui-form-select-dropdown-head input {
  border-width: 0px;
  flex-grow: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-bottom: 7px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 7px;
}

.frui-form-country-select .frui-form-select-dropdown-head span {
  padding-bottom: 7px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 7px;
}

.frui-form-country-select .frui-form-select-option {
  padding-bottom: 7px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 7px;
}

.frui-form-country-select .frui-form-select-option-active {
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
}