.frui-form-image-input-control {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.frui-form-image-input-file {
  align-items: center;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  display: flex;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
}

.frui-form-image-input-link {
  display: block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.frui-form-image-input-image {
  height: 20px;
  margin-right: 8px;
}

.frui-form-image-input-reset {
  color: var(--error);
  cursor: pointer;
  font-size: 20px;
  margin-top: -2px;
}