.frui-form-image-list-control {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.frui-form-image-list-file {
  align-items: center;
  border-color: gray;
  border-style: solid;
  border-top-width: 0;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  width: 100%;
}

.frui-form-image-list-link {
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.frui-form-image-list-remove {
  color: var(--error);
  cursor: pointer;
  font-size: 20px;
  margin-top: -2px;
  padding-left: 8px;
}

.frui-form-image-list-preview { 
  height: 20px; 
  margin-right: 8px;
}