.frui-form-metadata-row {
  display: flex;
  margin-bottom: 4px;
}

.frui-form-metadata-remove {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
}

.frui-form-metadata-name {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  flex-basis: 30%;
  margin-right: 4px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 100%;
}

.frui-form-metadata-value {
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  color: var(--black);
  flex-basis: 70%;
  margin-right: 4px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  width: 100%;
}