.frui-form-option {
  font-family: Arial, Helvetica, sans-serif;
  height: 18px;
  position: relative;
}
.frui-form-option-control {
  cursor: pointer;
  height: 18px;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 18px;
  z-index: 12;
}

.frui-form-option-control:checked, 
.frui-form-option-control:focus {
  outline: none !important;
}

.frui-form-option-label {
  display: inline-block;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  min-height: 18px;
  min-width: 18px;
  position: relative;
  z-index: 11;
}

.frui-form-option-label::before {
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  content: "\a0";
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  height: 17px;
  min-width: 17px;
  margin-right: 5px;
  position: relative;
  text-align: center;
  top: -2px;
  vertical-align: middle;
}

.frui-form-option-control:checked + .frui-form-option-label::before {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 
              inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), 
              inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  font-weight: 900;
}

.frui-form-option-control:active + .frui-form-option-label::before, 
.frui-form-option-control:checked:active+span::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.frui-form-option-control:disabled + .frui-form-option-label::before,
.frui-form-option-control[disabled] + .frui-form-option-label::before,
.frui-form-option-disabled .frui-form-option-control + .frui-form-option-label::before {
  background-color: #DDDDDD !important;
  border-color: #CCCCCC !important;
  box-shadow: none !important;
  color: #BBBBBB;
}

.frui-form-option-rounded .frui-form-option-label::before {
  border-radius: 100%;
}
.frui-form-option-circle .frui-form-option-control:checked + .frui-form-option-label::before {
  content: "\25CF";
  font-size: 24px;
  line-height: 13.5px;
}
.frui-form-option-square .frui-form-option-control:checked + .frui-form-option-label::before {
  content: "\25A0";
  font-size: 20px;
  line-height: 13.5px;
}
.frui-form-option-check .frui-form-option-control:checked + .frui-form-option-label::before {
  content: "\2713";
  font-size: 14px;
  line-height: 17px;
}

.frui-form-option-default .frui-form-option-label::before {
  background-color: #FAFAFA;
  border-color: #C8C8C8;
  color: #32A3CE;
  text-shadow: 0 0 1px #32A3CE;
}
.frui-form-option-default .frui-form-option-control:checked + .frui-form-option-label::before {
  background-color: #F5F8FC;
  border-color: #ADB8C0;
}
.frui-form-option-default .frui-form-option-control:hover + .frui-form-option-label::before, 
.frui-form-option-default .frui-form-option-label:hover::before {
  border-color: #FF893C;
}

.frui-form-option-blue .frui-form-option-label::before {
  background-color: #FAFAFA;
  border-color: #C8C8C8;
  color: #32A3CE;
  text-shadow: 0 0 1px #32A3CE;
}
.frui-form-option-blue .frui-form-option-control:checked + .frui-form-option-label::before {
  background-color: #F5F8FC;
  border-color: #32A3CE;
}
.frui-form-option-blue .frui-form-option-control:hover + .frui-form-option-label::before, 
.frui-form-option-blue .frui-form-option-label:hover::before {
  border-color: #32A3CE;
}

.frui-form-option-orange .frui-form-option-label::before {
  background-color: #FAFAFA;
  border-color: #C8C8C8;
  color: #FF893C;
  text-shadow: 0 0 1px #FF893C;
}
.frui-form-option-orange .frui-form-option-control:checked + .frui-form-option-label::before {
  background-color: #F5F8FC;
  border-color: #FF893C;
}
.frui-form-option-orange .frui-form-option-control:hover + .frui-form-option-label::before, 
.frui-form-option-orange .frui-form-option-label:hover::before {
  border-color: #FF893C;
}