.frui-form-password-input {
  display: flex;
  align-items: center;
}
.frui-form-password-input-control {
  flex-grow: 1;
}
.frui-form-password-input-toggle {
  align-items: center;
  background-color: #EEEEEE;
  border-color: var(--black);
  border-style: solid;
  border-left: 0;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  color: #666666;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  text-align: center;
}