.frui-form-rating-root {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  color: #faaf00;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5rem;
}

.frui-form-rating-icon-label {
  display: inline-block;
  padding: 0 2px;
  position: relative;
}

.frui-form-rating-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.frui-form-rating-icon-filled {
  color: inherit;
}

.frui-form-rating-icon-empty {
  color: #bdbdbd;
}

.frui-form-rating-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.frui-form-rating-icon-hover {
  transform: scale(1.2);
}

.frui-form-rating-small {
  font-size: 1.125rem;
}

.frui-form-rating-medium {
  font-size: 1.5rem;
}

.frui-form-rating-large {
  font-size: 1.875rem;
}

.frui-form-rating-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.frui-form-rating-readonly {
  cursor: default;
  pointer-events: none;
}