.frui-form-select {
  user-select: none;
  position: relative;
}

.frui-form-select-placeholder {
  cursor: pointer;
}

.frui-form-select-control {
  align-items: center;
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: inline-flex; 
  width: 100%;
}

.frui-form-select-error .frui-form-select-control {
  border-color: var(--error);
  color: var(--error);
}

.frui-form-select-control-selected {
  flex-grow: 1;
  padding: 8px;
}

.frui-form-select-control-actions {
  align-items: center;
  cursor: pointer; 
  display: flex;
  padding-right: 4px;
}

.frui-form-select-control-actions-clear {
  color: var(--error);
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  padding: 8px 4px;
}

.frui-form-select-control-actions-toggle {
  color: var(--muted);
  font-size: 10px;
  line-height: 15px;
  padding: 8px 4px;
}