.frui-dialog-overlay {
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  display: flex;
  height: 100%;
  inset: 0;
  left: 0;
  justify-content: center;
  overflow: auto;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
}

.frui-dialog {
  margin: auto 0;
  position: relative;
}