@keyframes fruispin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.frui-loader {
  display: inline-block;
  border-radius: 50%;
  animation: fruispin 1s linear infinite;
}

.frui-loader-solid {
  border-style: solid;
}

.frui-loader-dashed {
  border-style: dashed;
}

.frui-loader-dotted {
  border-style: dotted;
}

.frui-loader-slice-1 {
  border-right-color: transparent !important;
}

.frui-loader-slice-2 {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.frui-loader-slice-3 {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.frui-loader-container {
  display: inline-flex;
  align-items: center;
}