.frui-field-input-suggest {
  position: relative;
}

.frui-field-input-suggest-dropdown {
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  position: absolute;
  width: 100%;
}

.frui-field-input-suggest-options {
  max-height: 256px;
  overflow: auto;
}

.frui-field-input-suggest-option {
  align-items: center;
  border-color: #AAAAAA;
  border-style: solid;
  border-top-width: 1px;
  cursor: pointer;
  display: flex;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
}