.frui-field-input-color {
  position: relative;
}

.frui-field-input-color .frui-field-input-color-control {
  padding-left: 60px;
}

.frui-field-input-color-picker {
  position: absolute;
  bottom: 5px;
  height: calc(100% - 10px);
  left: 5px;
  top: 5px;
}

.frui-field-input-color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
