.frui-field-knob-slider {
    position: relative;
    display: inline-block;
  }
  
  .frui-field-knob-slider-svg {
    cursor: pointer;
  }
  
  .frui-field-knob-slider-label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
  }
  