.frui-field-slider {
  display: flex;
  align-items: center;
}

.frui-field-slider-input {
  text-align: center;
  width: 50px;
}

.frui-field-slider-track {
  background-color: #EEEEEE;
  flex-grow: 1;
  height: 8px;
  position: relative;
  width: 100%;
}

.frui-field-slider-connection {
  background-color: #CCCCCC;
  height: 8px;
  position: absolute;
  top: 0;
}

.frui-field-slider-handle {
  background-color: #CCCCCC;
  border-radius: 10000px;
  cursor: pointer;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
}
