.frui-field-select {
  user-select: none;
  position: relative;
}

.frui-field-select-display {
  align-items: center;
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: inline-flex; 
  width: 100%;
}

.frui-field-select-error .frui-field-select-display {
  border-color: var(--error);
  color: var(--error);
}

.frui-field-select-placeholder {
  cursor: pointer;
}

.frui-field-select-selected {
  flex-grow: 1;
  padding: 8px;
}

.frui-field-select-controls {
  align-items: center;
  cursor: pointer; 
  display: flex;
  padding-right: 4px;
}

.frui-field-select-clear {
  color: var(--error);
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  padding: 8px 4px;
}

.frui-field-select-toggle {
  color: var(--muted);
  font-size: 10px;
  line-height: 15px;
  padding: 8px 4px;
}

.frui-field-select-dropdown {
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  box-sizing: border-box;
  color: var(--black);
  display: inline-block;
  left: 0; 
  padding-bottom: 8px;
  padding-top: 8px;
  position: absolute;
  right: 0;
  width: 100%;
}

.frui-field-select-bottom .frui-field-select-dropdown {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}

.frui-field-select-left .frui-field-select-dropdown {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
}

.frui-field-select-right .frui-field-select-dropdown {
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
}

.frui-field-select-top .frui-field-select-dropdown {
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
}

.frui-field-select-option {
  cursor: pointer;
}

.frui-field-select-selected .frui-field-select-option {
  display: inline-block;
}