.frui-rating-root {
  display: inline-flex;
  align-items: center;
  color: #faaf00;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.frui-rating-icon-label {
  display: inline-block;
  position: relative;
  padding: 0 2px;
}

.frui-rating-icon {
  display: flex; 
  align-items: center;
  justify-content: center;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none; 
}

.frui-rating-icon-filled {
  color: inherit; 
}

.frui-rating-icon-empty {
  color: #bdbdbd;
}

.frui-rating-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.frui-rating-icon-hover {
  transform: scale(1.2);
}

.frui-rating-sizeSmall {
  font-size: 1.125rem; 
}
.frui-rating-sizeMedium {
  font-size: 1.5rem; 
}
.frui-rating-sizeLarge {
  font-size: 1.875rem; 
}

.frui-rating-disabled {
  opacity: 0.5;
  pointer-events: none; 
  cursor: default;
}

.frui-rating-readOnly {
  pointer-events: none; 
  cursor: default; 
}