.frui-button {
  text-align: center;
}
.frui-button-xs {
  padding: 2px 4px;
}
.frui-button-sm {
  padding: 4px 8px;
}
.frui-button-md {
  padding: 6px 12px;
}
.frui-button-lg {
  padding: 8px 16px;
}
.frui-button-xl {
  padding: 10px 20px;
}
.frui-button-2xl {
  padding: 12px 24px;
}
.frui-button-3xl {
  padding: 14px 28px;
}
.frui-button-4xl {
  padding: 16px 32px;
}
.frui-button-5xl {
  padding: 18px 36px;
}