.frui-dropdown {
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: inline-block;
  min-width: 100%;
  position: absolute;
}

.frui-dropdown-absolute {
  min-width: auto;
}

.frui-dropdown-options {
  padding-bottom: 8px;
  padding-top: 8px;
}

.frui-dropdown-option {
  cursor: pointer;
}

.frui-dropdown-bottom {
  margin-top: -1px;
}

.frui-dropdown-left {
  margin-left: 1px;
}

.frui-dropdown-right {
  margin-left: -1px;
}

.frui-dropdown-top {
  margin-top: 1px;
}