.frui-fieldset-add {
  margin-right: 2px;
}

.field-fieldset {
  border: 1px solid var(--bd2);
  margin: 10px 0;
  position: relative;
}

.field-fieldset header a {
  color: var(--error);
  cursor: pointer;
  font-size: 20px;
}

.field-fieldset.field-fieldset-error {
  border-color: var(--error);
}

.field-fieldset.field-fieldset-multiple header {
  align-items: center;
  background-color: var(--bg1);
  display: flex;
  padding: 10px;
}

.field-fieldset.field-fieldset-multiple header h6 {
  flex-grow: 1;
}

.field-fieldset.field-fieldset-optional header a {
  position: absolute;
  right: 10px;
  top: 5px;
}

.field-fieldset main {
  padding: 10px;
}

.field-fieldset .field-fieldset-control {
  padding: 10px 0;
}