/* Default Theme
---------------------------------*/
:root {
  --black: #222222;
  --white: #FCFCFC;
  --info: #1474FC;
  --error: #DC3545;
  --warning: #FF7B07;
  --success: #28A745;
  --muted: #999999;
  --curved: 5px;
  --rounded: 12px;
  --pill: 10000px;
  --thin: 1px;
  --thick: 5px;
  --xs: 8px;
  --sm: 10px;
  --md: 12px;
  --lg: 14px;
  --xl: 16px;
  --xl2: 18px;
  --xl3: 20px;
  --xl4: 22px;
  --xl5: 24px;
}

/* Generic
---------------------------------*/
.frui-full {
  width: 100%;
}


/* Display
---------------------------------*/
.frui-block {
  display: block;
}
.frui-inline {
  display: inline;
}
.frui-iblock, .frui-inline-block {
  display: inline-block;
}
.frui-flex {
  display: flex;
}
.frui-iflex, .frui-inline-flex {
  display: inline-flex;
}
.frui-grid {
  display: grid;
}
.frui-igrid, .frui-inline-grid {
  display: inline-grid;
}
.frui-none, .frui-hidden {
  display: none;
}

/* Text
---------------------------------*/
.frui-tx-left {
  text-align: left;
}
.frui-tx-center {
  text-align: center;
}
.frui-tx-right {
  text-align: right;
}
.frui-tx-justify {
  text-align: justify;
}

.frui-tx-xs {
  font-size: var(--xs);
}
.frui-tx-sm {
  font-size: var(--sm);
}
.frui-tx-md {
  font-size: var(--md);
}
.frui-tx-lg {
  font-size: var(--lg);
}
.frui-tx-xl {
  font-size: var(--xl);
}
.frui-tx-2xl {
  font-size: var(--xl2);
}
.frui-tx-3xl {
  font-size: var(--xl3);
}
.frui-tx-4xl {
  font-size: var(--xl4);
}
.frui-tx-5xl {
  font-size: var(--xl5);
}

.frui-tx-black {
  color: var(--black) !important;
}
.frui-tx-white {
  color: var(--white) !important;
}
.frui-tx-info {
  color: var(--info) !important;
}
.frui-tx-error {
  color: var(--error) !important;
}
.frui-tx-warning {
  color: var(--warning) !important;
}
.frui-tx-success {
  color: var(--success) !important;
}
.frui-tx-muted {
  color: var(--muted) !important;
}
.frui-tx-primary {
  color: var(--primary) !important;
}
.frui-tx-secondary {
  color: var(--secondary) !important;
}
.frui-tx-tertiary {
  color: var(--tertiary) !important;
}

/* Borders
---------------------------------*/
.frui-curved {
  border-radius: var(--curved);
}
.frui-rounded {
  border-radius: var(--rounded);
}
.frui-pill {
  border-radius: var(--pill);
}

.frui-solid {
  border-style: solid;
}
.frui-dash {
  border-style: dashed;
}
.frui-dotted {
  border-style: dotted;
}

.frui-thin {
  border-width: var(--thin);
}
.frui-thick {
  border-width: var(--thick);
}

.frui-bd-black {
  border-color: var(--black) !important;
}
.frui-bd-white {
  border-color: var(--white) !important;
}
.frui-bd-info {
  border-color: var(--info) !important;
}
.frui-bd-error {
  border-color: var(--error) !important;
}
.frui-bd-warning {
  border-color: var(--warning) !important;
}
.frui-bd-success {
  border-color: var(--success) !important;
}
.frui-bd-muted {
  border-color: var(--muted) !important;
}
.frui-bd-primary {
  border-color: var(--primary) !important;
}
.frui-bd-secondary {
  border-color: var(--secondary) !important;
}
.frui-bd-tertiary {
  border-color: var(--tertiary) !important;
}

/* Backgrounds
---------------------------------*/
.frui-bg-black {
  background-color: var(--black) !important;
}
.frui-bg-white {
  background-color: var(--white) !important;
}
.frui-bg-info {
  background-color: var(--info) !important;
}
.frui-bg-error {
  background-color: var(--error) !important;
}
.frui-bg-warning {
  background-color: var(--warning) !important;
}
.frui-bg-success {
  background-color: var(--success) !important;
}
.frui-bg-muted {
  background-color: var(--muted) !important;
}
.frui-bg-primary {
  background-color: var(--primary) !important;
}
.frui-bg-secondary {
  background-color: var(--secondary) !important;
}
.frui-bg-tertiary {
  background-color: var(--tertiary) !important;
}