.frui-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: none;
  left: 0;
  justify-content: center;
  max-height: 100vh;
  overflow: auto;
  right: 0;
  top: 0;
  z-index: 10000 ;
}

.frui-modal-fixed {
  position: fixed;
}

.frui-modal-absolute {
  position: absolute;
}

.frui-modal-overlay {
  overflow: hidden;
  max-width: 32rem;
  margin: auto;
  position: relative;
}

.frui-modal-head {
  align-items: center;
  display: flex;
  padding: 10px;
}

.frui-modal-title {
  flex-grow: 1;
  font-weight: bold;
}

.modal-confirm {
  border: 1px solid var(--bd0);
  padding: 16px;
  margin-top: 8px;
}

.modal-confirm .message {
  font-size: 26px;
}

.modal-confirm .alert {
  color: var(--muted);
}

.modal-confirm .icon {
  margin-right: 5px;
}

.modal-confirm .confirm {
  border-radius: 8px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 16px;
  text-transform: uppercase;
}

.modal-confirm .cancel {
  border-radius: 8px;
  color: var(--tx1);
  font-weight: bold;
  margin-top: 16px;
  text-transform: uppercase;
}